@model SainsTekWepApp.Areas.Admin.Models.DashboardViewModels
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{

    <div class="alert alert-danger">
        <h2>
            @ViewBag.ErrorMessage
        </h2>
    </div>
}
else
{
    <div class="row">
        @Html.PanelMessage("danger", "user-plus", @Model.NewParticipantPaymentConfirmationCount, "Konfirmasi pembayaran peserta.", "sasasa")
        @Html.PanelMessage("danger", "file-pdf-o", @Model.NewPaperPaymentConfirmationCount, "Konfirmasi pembayaran makalah.", "sasasa")
        @Html.PanelMessage("warning", "book", @Model.NewFullPaperCount, "Tambahan Makalah baru.", "sasasa")
        @Html.PanelMessage("warning", "paper-plane", @Model.NewPaperAbstractCount, "Tambahan Abtrak baru.", "sasasa")
    </div>
    <!-- /.row -->
    <div class="row">
        @Html.PanelMessage("info", "user", @Model.NewParticipantCount, "Peserta blum konfirmasi.", "/Admin/Peserta")
        @Html.PanelMessage("success", "file-pdf-o", @Model.NewFullPaperEditCount, "Makalah telah diubah.", "sasasa")
        @Html.PanelMessage("success", "book", @Model.NewPaperAbstractEditCount, "Abstrak telah diubah.", "sasasa")
        @Html.PanelMessage("info", "envelope", @Model.NewMessagesCount, "Pesan belum dibaca.", "/Admin/PublicMessage/Index?messageType=unread")
    </div>
    <!-- /.row -->
    @*<div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-envelope fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.NewParticipantCount</div>
                            <div>Peserta Blum Konfirmasi</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>*@

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">
                                <em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">
                                <em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">
                                <em>27 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">
                                <em>43 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">
                                <em>11:32 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                            <span class="pull-right text-muted small">
                                <em>11:13 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-warning fa-fw"></i> Server Not Responding
                            <span class="pull-right text-muted small">
                                <em>10:57 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                            <span class="pull-right text-muted small">
                                <em>9:49 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> Payment Received
                            <span class="pull-right text-muted small">
                                <em>Yesterday</em>
                            </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
}